.about-section {
  background-color: #0f231c;
}

.about-content h3 {
  font-size: 2rem;

  margin-bottom: 20px;

  color: var(--primary-color);
}

.about-content p {
  color: var(--text-light);

  line-height: 1.8;

  margin-bottom: 20px;
}

.about-card {
  background-color: var(--card-bg) !important;

  border: 1px solid var(--border-color) !important;

  border-radius: 15px !important;

  transition: var(--transition);

  height: 100%;
}

.about-card:hover {
  transform: translateY(-10px);

  border-color: var(--primary-color) !important;
}

.about-card .card-body {
  padding: 30px;
}

.about-card h4 {
  color: var(--primary-color);

  margin-bottom: 15px;
}

.about-card p {
  color: var(--text-color);

  font-weight: 500;

  margin-bottom: 10px;
}

.about-card span {
  color: var(--text-light);

  font-size: 0.95rem;
}

@media (max-width: 992px) {
  .about-content {
    margin-bottom: 50px;

    text-align: center;
  }
}
