.custom-navbar {

  background-color: rgba(11, 31, 24, 0.9);

  backdrop-filter: blur(10px);

  padding: 15px 0;

  border-bottom: 1px solid var(--border-color);
}

.logo {

  font-size: 1.8rem !important;

  font-weight: 700;

  color: var(--text-color) !important;
}

.logo span {
  color: var(--primary-color);
}

.nav-links {

  gap: 20px;
}

.nav-links .nav-link {

  color: var(--text-light) !important;

  font-weight: 500;

  position: relative;

  transition: var(--transition);
}

.nav-links .nav-link:hover {
  color: var(--primary-color) !important;
}

.nav-links .nav-link::after {

  content: "";

  position: absolute;

  left: 0;
  bottom: 0;

  width: 0%;
  height: 2px;

  background-color: var(--primary-color);

  transition: var(--transition);
}

.nav-links .nav-link:hover::after {
  width: 100%;
}

.navbar-toggler {

  border: 1px solid var(--border-color) !important;
}


.navbar-toggler:focus {

  box-shadow: none !important;
}

.custom-hamburger{
  background-color: var(--primary-color);
}

.custom-logo{
  font-size: 1.4rem;

}