/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* CSS Variables */
:root {
  /* Primary Colors */
  --primary-color: #039b7d;
  --primary-dark: #00533e;

  /* Background Colors */
  --bg-color: #0b221c;
  --card-bg: #013129;

  /* Text Colors */
  --text-color: #ffffff;
  --text-light: #cbd5e1;

  /* Border */
  --border-color: #335550;

  /* Container Width */
  --container-width: 1200px;

  /* Transition */
  --transition: all 0.3s ease;
}

/* Global CSS Reset default values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
image {
  cursor: pointer;
  width: 100%;
  display: block;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
  font-family: initial;
}

ul{
  list-style: none;
}

/* Reusable container style */
.container{
  width: 90%;
  max-width: var(--container-width);
  margin: auto;
}

/* section style */
section{
  padding: 100px 0px;
}

/* common title style */
.section-title{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

/* common button style */
.btn{
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  transition: var(--transition);
  font-weight: 500;
}

.btn:hover{
  background-color: var(--primary-dark);
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color); 

}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Responsive display */
@media (max-width: 768px) {

  .section-title {
    font-size: 2rem;
  }

  section {
    padding: 80px 0;
  }

}

